name: Quality Checks
on: [pull_request, create]

jobs:
  build:
    name: Quality (clippy, rustfmt)
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.rust == 'beta' }}
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta]
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl

    steps:
      - name: Code checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain (${{ matrix.rust }})
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.target }}
          override: true
          components: rustfmt, clippy

      - name: Formatting (rustfmt)
        run: cargo fmt -- --check

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          use-cross: ${{ matrix.target != 'x86_64-unknown-linux-gnu' }}
          command: clippy
          args: --target=${{ matrix.target }} --workspace --all-targets --tests --all-features -- -D warnings -D clippy::undocumented_unsafe_blocks
